.archive {
  margin-bottom: 2em;

  &__title {
    margin: 1em 0;
    font: {
      size: 0.8em;
      weight: $font-weight-bold;
    }
  }

  &__link {
    text-transform: uppercase;
    font-size: 0.8em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
